@define-mixin atSmall {
    @media (min-width: 33.125rem) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: 50rem) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media (min-width: 63.125rem) {
        @mixin-content;
    }
}

@define-mixin clearfix {
    /* To trick float so that browser know there is content in this div */
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}